
body{
  color:black;
  background-color: #fffafa;
}

.aboutus-first{
  background-color: #005757;
  border: solid;
  border-width: 5px;
  border-color: #ababab;
  padding-top: 0.1%;
  margin: 0.1%;
  text-align: left;

  color:white;
  font-size: 27px;
}
