body{
  background-color: #f0ffff;
}

hr{
  background-color: white;
  border-style: ridge;
  border-color: black;
  height: 2px;
  width: 100%;
}

h1{
  color: #1e90ff;
}

h3{
  color: #1e90ff;
}
